* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f1220;
  height: 100vh;
  overflow: hidden;
}

.back-btn {
  position: fixed;
  top: 25px;
  left: 25px;
  text-decoration: none;
  font-size: 22px;
  color: #a78bfa;
  padding: 6px 14px;
  border-radius: 10px;
  transition: 0.3s ease;
  z-index: 5;
}

.back-btn:hover {
  background: #a78bfa;
  color: #12121c;
}

/* Blur background */
.blur-bg {
  position: fixed;
  inset: 0;
  background: url("bg.jpg") center/cover no-repeat;
  filter: blur(8px) brightness(0.4);
  z-index: 1;
}

/* Modal */
.auth-modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* Logo */
.logo {
  position: absolute;
  top: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.logo span {
  color: #6c63ff;
}

/* Auth box */
.auth-box {
  background: #181b34;
  width: 380px;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  animation: pop 0.4s ease;
}

@keyframes pop {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* Forms */
.form {
  display: none;
}

.form.active {
  display: block;
}

.form h2 {
  color: #fff;
  margin-bottom: 8px;
}

.form p {
  color: #bfc3ff;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: none;
  background: #0f1220;
  color: #fff;
  outline: none;
}

input::placeholder {
  color: #8b8fdc;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #6c63ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #574ee6;
}

/* Switch text */
.switch {
  margin-top: 16px;
  font-size: 13px;
  color: #bfc3ff;
  text-align: center;
}

.switch span {
  color: #6c63ff;
  cursor: pointer;
  font-weight: 600;
}
